/* STYLES FOR THE BUG SYSTEM */

/* $Id$ */
td.content {
    font-size: 93%;
}

.headertop {
    background: #5b69a6;
}
.headersep {
    background: #000033;
}
.headerbottom {
    background: #9999cc;
}

pre.note {
    margin-top: 8px;
    margin-left: 20px;
}

form#comment,
form#update,
form#vote,
div.comment {
    clear: both;
}

div.comment {
    margin-top: 12px;
}

table.lusersearch td {
    font-size: 85%;
}

table.lusersearch tr {
    vertical-align: top;
}

div#controls {
    clear: both;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid #666666;
}

div#controls span {
    display: block;
    float: left;
    border: 1px solid #000000;
    border-top: 0px;
    font-weight: bold;
    background: #ddddff;
    padding: 4px 8px;
    margin-left: 10px;
}

div#controls .active {
    position: relative;
    top: -2px;
    background: #ffffff;
    padding-top: 6px;
}

div#controls a {
    text-decoration: none;
}

div#controls a:hover {
    text-decoration: underline;
}

td#summary {
    font-weight: bold;
}
th.details {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
}
th.results {
    background-color: #aaaaaa;
    text-align: left;
    font-weight: bold;
    padding: 1px;
}
table#details td {
    vertical-align: top;
}

div#bugheader {
    width: 100%;
}

div#bugheader table#details th {
    text-align: right;
    color: #666666;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
}
div#bugheader table#details th#number {
    color: #000066;
    font-size: 116%;
}
div#bugheader table#details td#summary {
    font-weight: bold;
}

#bugform th {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
}

#bugform td {
    padding: 2px;
}

#bugform input[type="checkbox"] {
    margin-left: 5px;
}

.diffheader {
    background: #EEEE00;
}
.newdiff {
    background: #FF0000;
}
.olddiff {
    background: #AAAAAA;
    text-decoration: line-through;
}

form#vote {
    font-size: smaller;
}
form#vote div.sect {
    float: left;
}
form#vote fieldset {
    border: 1px solid #000000;
}
form#vote div#submit {
    margin-top: 24px;
    margin-left: 10px;
    text-align: center;
}

form#asearch th {
    text-align: left;
    font-weight: bold;
}

#primary {
    background: #eee;
    padding: 8px;
    width: 100%;
}

#primary input[type="radio"] {
    margin-right: 3px;
}

#secondary {
    margin-top: 8px;
    padding: 4px;
}

#primary td, table#secondary td {
    padding: 2px;
}

/* Used in stats.php */

td.bug_bg0 {
    background-color: #DDDDDD;
    font-size: 85%;
    text-align: center;
}
td.bug_bg1 {
    background-color: #EEEEEE;
    font-size: 85%;
    text-align: center;
}
.bug_head {
    background-color: #339900;
    color: #FFFFFF;
    font-size: 85%;
    font-weight: bold;
    text-align: right;
    padding: 0em .2em .2em .2em;
}
.bug_header {
    background-color: #339900;
    color: #FFFFFF;
    font-size: 85%;
    font-weight: bold;
    text-align: center;
    padding: 0em .2em .2em .2em;
}

a.bug_stats {
    color: #FFFFFF;
}
a.bug_stats_choosen {
    color: #FFFF00;
}

.bug_bg_selected {
    background-color: yellow;
}
.bug_bg_selected a {
    color: #006600;
}

/* === Search === */

a.status_active {
    font-weight: bold;
}

td.search-prev_next {
    background-color: #cccccc;
    text-align: center;
    padding-bottom: 0.4em;
}

td.search-prev {
    text-align: left;
    width: 33%;
}

td.search-showing {
    text-align: center;
    width: 34%;
}

td.search-next {
    text-align: right;
    width: 33%;
}

.Asn {
    background-color: #bbaaff;
}
.Ana {
    background-color: #99bbaa;
}
.Bgs {
    background-color: #aaaaaa;
}
.Csd {
    background-color: #aaffbb;
}
.Ctl {
    background-color: #ff0000;
}
.Dup {
    background-color: #bbbbbb;
}
.Fbk {
    background-color: #bbeeff;
}
.Fre {
    background-color: #aaaaaa;
}
.NoF {
    background-color: #bbffcc;
}
.Opn {
    background-color: #ffbbaa;
}
.Sus {
    background-color: #ffccbb;
}
.Ver {
    background-color: #99bbaa;
}
.Wfx {
    background-color: #aaaaaa;
}

#explain-messages {
    margin-top: 30px;
}

#explain-messages li {
    display: inline;
    font-size: 85%;
    list-style-type: none;
}

span.errors {
    border-color: #660000;
    background: #fee;
}

span.success {
    border-color: #006600;
    background-color: #CCFF99;
}

span.explain {
    border-color: #000066;
}

#explain-messages span.errors, #explain-messages span.success, #explain-messages span.explain {
    padding: 0 !important;
    margin: 0 !important;
    height: 10px;
    width: 10px;
    border: 1px solid;
}

#package-stats {
    width: 100%;
    margin-top: 1em;
    border-collapse: separate;
    border-spacing: 2px
}

#dev-stats th {
    font-weight: bold;
    text-align: center;
}

.dev-stats-sub {
    border-collapse: separate;
    border-spacing: 2px
}