/* STYLES FOR VIEWING THE MANUAL ON THE WEBSITE */

/* === Navigation Sidebar === */

/* larger links: manual home, up one level, download */

ul.man-side_top,
ul.man-side_up,
ul.man-side_download {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.7em;
    padding-left: 0.7em;
}

li.man-side_top {
    list-style: url(/gifs/caret-t.gif) circle;
    text-indent: -0.4em;
}

li.man-side_up {
    list-style: url(/gifs/caret-u.gif) disc;
    text-indent: -0.4em;
}

li.man-side_download {
    list-style: square;
    text-indent: -0.4em;
}

/* list of manual pages */

ul.man-side_pages {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.8em;
    padding-left: 0.8em;
    list-style: square;
}

li.man-side_page {
    text-indent: -0.4em;
    font-size: 85%;
}

li.man-side_page_nested {
    font-size: 100%;
}

/* === Navigation Box (previous, next, languages) === */

table.man-nav {
    background-color: #F0F0F0;
    border-bottom: 1px solid #CCCCCC;
    width: 97%;
    min-width: 30em;
    border-collapse: separate;
    border-spacing: 0.5em;
}

table#man-nav-top {
    margin-top: -0.3em;
    margin-bottom: 0.5em;
}

table#man-nav-bottom {
    margin-top: 1em;
    margin-bottom: 0.2em;
}

/* top row */

td.man-nav_prev, td.man-nav_next {
    font-size: 75%;
}

td.man-nav_prev {
    text-align: left;
}

td.man-nav_next {
    text-align: right;
}

td.man-nav_prev-next {
    vertical-align: top;
}

td.man-nav_space {
    height: 1px;
}

/* middle row */

td.man-nav_view,
td.man-nav_download,
td.man-nav_bug {
    text-align: left;
    font-size: 75%;
}

td.man-nav_updated {
    text-align: right;
    font-size: 75%;
}

/* bottom row */

td.man-nav_languages {
    font-size: 75%;
}

#user-notes {
    padding-top: 1em;
}

/* === Examples === */

code, pre, tt {
    font-family: "andale mono", "monotype.com", "courier new", courier, monospace;
    margin: 0px;
}

pre.php {
    border:             0;
    background-color:   #EAEAEA;
    padding:            0.5em;
    margin:             0.5em;
}

pre.xml {
    margin: 0.5em;
    max-height: 35em;
    overflow-y: auto;
    background-color: #EAEAEA;
    color: black;
    font-size: 100%;
    padding: 0.5em;
}

pre.synopsis {
    margin: 0.5em;
}

table.EXAMPLE {
    margin-top: 1em;
    width: 95%;
    border: 0;
}

table.EXAMPLE-CODE, table.warning {
    width: 95%;
}

table.EXAMPLE table.EXAMPLE-CODE {
    width: 100%;
}

table.EXAMPLE p {
    margin-top: 0em;
    margin-bottom: 0em;
}

table.EXAMPLE-CODE, pre.synopsis {
    background-color: white;
}

table.EXAMPLE-CODE pre.screen {
    background-color: #EAEAEA;
    color: black;
    margin: 0.5em;
    padding: 0.5em;
}

/* === Notes === */
td div.note {
    border: 0;
    background-color: #e0e0e0;
    color: inherit;
    text-align: left;
    padding: 0.5em;
}

.chapter blockquote.note,
.refsect1 blockquote.note,
.refsect2 blockquote.note,
.refsect3 blockquote.note,
.sect3 blockquote.note,
.sect2 blockquote.note,
.sect1 blockquote.note {
    background-color: inherit;
    border: 0;
    color: inherit;
    text-align:left;
}

.chapter div.note,
.refsect1 div.note,
.refsect2 div.note,
.refsect3 div.note,
.sect3 div.note,
.sect2 div.note,
.sect1 div.note {
    border: 0;
    background-color: #FFFFCC;
    margin: 0.25em;
    padding: 0.25em;
}

td div.pending_note {
    border-style: solid;
    border-width: 1px;
    background-color: #909090;
    color: inherit;
    text-align: left;
}

td div.note_text {
    background-color: #f0f0f0;
    color: inherit;
    padding: 0.5em;
    margin-top: 4px;
    text-align: left;
}

td div.note_handle {
    font-weight: bold;
    text-align: left;
}

/* === Headings === */
.chapter, .sect1, h2.sect2, h3.sect3 {
    padding-top: 1.0em;
}

/* === Inline tables === */
table.CALSTABLE td,
table.CALSTABLE th {
    padding: 0.3em;
}

table.CALSTABLE th {
    font-weight: bold;
}

table.CALSTABLE {
    border-color: #F0F0F0;
    margin: auto;
}

div.table a b {
    display: block;
    text-align: center;
}