/* STYLES FOR VIEWING THE MANUAL ON THE WEBSITE */

/* === Navigation Sidebar === */

/* larger links: manual home, up one level, download */

ul.man-side_top,
ul.man-side_up,
ul.man-side_download {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.7em;
    padding-left: 0.7em;
}

li.man-side_top {
    list-style: url(/gifs/caret-t.gif) circle;
    text-indent: -0.4em;
}

li.man-side_up {
    list-style: url(/gifs/caret-u.gif) disc;
    text-indent: -0.4em;
}

li.man-side_download {
    list-style: url(/gifs/box-0.gif) square;
    text-indent: -0.4em;
}

/* list of manual pages */

ul.man-side_pages {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.8em;
    padding-left: 0.8em;
    list-style: url(/gifs/box-0.gif) square;
}

li.man-side_page {
    text-indent: -0.4em;
    font-size: 85%;
}

li.man-side_page_nested {
    font-size: 100%;
}

/* === Navigation Box (previous, next, languages) === */

table.man-nav {
    background-color: #F0F0F0;
    border-bottom:1px solid #CCCCCC;
    width: 95%;
    min-width: 30em;
    border-collapse: separate;
    border-spacing: 0.5em;
    margin-top: -0.3em
}

/* top row */

td.man-nav_prev, td.man-nav_next {
    font-size: 75%;
}

/* middle row */

td.man-nav_view,
td.man-nav_updated,
td.man-nav_download,
td.man-nav_bug {
    font-size: 75%;
}

/* bottom row */

td.man-nav_languages {
    font-size: 75%;
}

/* === Examples === */

code, pre, tt {
    font-family: "andale mono", "monotype.com", "courier new", courier, monospace;
    margin: 0px;
}

pre.php {
    border-color:       black;
    border-style:       dashed;
    border-width:       1px;
    background-color:   #eee;
    padding:            5px;
}

pre.xml {
    margin: 0.5em;
    max-height: 35em;
    overflow-y: auto;
    background-color: #EAEAEA;
    color: black;
    font-size: 100%;
    padding: 0.5em;
}

table.EXAMPLE {
    margin-top: 1em;
    width: 95%;
    border: 0;
}

table.EXAMPLE-CODE, table.warning {
    width: 95%;
}

table.EXAMPLE table.EXAMPLE-CODE {
    width: 100%;
}

table.EXAMPLE p {
    margin-top: 0em;
    margin-bottom: 0em;
}

table.EXAMPLE-CODE, pre.synopsis {
    background-color: white;
}

pre.synopsis {
    margin: 0.5em;
}

table.EXAMPLE-CODE pre.screen {
    background-color: #EAEAEA;
    color: black;
    margin: 0.5em;
    padding: 0.5em;
}

td div.note {
    background-color: #FFFFCC;
    border: 0.5px solid brown;
    color: inherit;
    text-align: left;
}

td div.pending_note {
    border-style: dashed;
    border-width: 1px;
    background-color: #909090;
    color: inherit;
    text-align: left;
}

td div.note_text {
    background-color: #f0f0f0;
    color: inherit;
    padding: 2px;
    margin-top: 4px;
    text-align: left;
}

td div.note_handle {
    font-weight: bold;
    text-align: left;
}

.chapter, .sect1, h2.sect2, h3.sect3 {
    padding-top: 1.0em;
}

table.CALSTABLE td, table.CALSTABLE th {
    padding: 0.3em;
}

table.CALSTABLE th  {
    font-weight: bold;
}
table.CALSTABLE {
    border-color: #F0F0F0;
    margin: auto;
}

div.table a b {
    display: block;
    text-align: center;
}