/* STYLES FOR VIEWING THE MANUAL ON THE WEBSITE */

/* === Navigation Sidebar === */

/* larger links: manual home, up one level, download */

ul.man-side_top,
ul.man-side_up,
ul.man-side_download {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.7em;
    padding-left: 0.7em;
}

li.man-side_top {
    list-style: url(/gifs/caret-t.gif) circle;
    text-indent: -0.4em;
}

li.man-side_up {
    list-style: url(/gifs/caret-u.gif) disc;
    text-indent: -0.4em;
}

li.man-side_download {
    list-style: url(/gifs/box-0.gif) square;
    text-indent: -0.4em;
}

/* list of manual pages */

ul.man-side_pages {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.8em;
    padding-left: 0.8em;
    list-style: url(/gifs/box-0.gif) square;
}

li.man-side_page {
    text-indent: -0.4em;
    font-size: 80%;
}

li.man-side_page_nested {
    font-size: 100%;
}

/* === Navigation Box (previous, next, languages) === */

/* top row */
 
td.man-nav_prev,
td.man-nav_next {
    font-size: 75%;
}

/* middle row */

td.man-nav_view,
td.man-nav_updated,
td.man-nav_download,
td.man-nav_bug {
    font-size: 75%;
}

/* bottom row */

td.man-nav_languages {
    font-size: 75%;
}

/* === Examples === */

code, pre, tt {
    font-family: "andale mono", "monotype.com", "courier new", courier, monospace;
    margin: 0px;
}

pre.php {
    border-color:       black;
    border-style:       dashed;
    border-width:       1px;
    background-color:   #eee;
    padding:            5px;
}

table.EXAMPLE {
    margin-top: 1em;
}

table.EXAMPLE p {
    margin-top: 0em;
    margin-bottom: 0em;
}

.note {
    border-style: dashed;
    border-width: 1px;
	background-color: #e0e0e0;
	color: inherit;
    text-align: left;
}

.pending_note {
    border-style: dashed;
    border-width: 1px;
	background-color: #909090;
	color: inherit;
    text-align: left;
}

.note_text {
	background-color: #f0f0f0;
	color: inherit;
	padding: 2px;
	margin-top: 4px;
    text-align: left;
}

.note_handle {
    font-weight: bold;
    text-align: left;
}
