/* Parts of the code borrowed from csszengarden.com, hicksdesign.co.uk */
#pageHeader h1 {
    font-size: 18px;
}

#pageHeader h2 {
    font-size: 14px;
}

#new #old table {
    border : 1px solid #330033;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#new #old th {
    color: #000;
    border-bottom: 1px solid #000;
}

#new #old td {
    padding: 2px;
    border-left: dashed 1px #339900;
    border-right: dashed 1px #339900;
}

#new #old table caption {
    color: #000;
    font-size: 90%;
}

#footer {
    font-size: 9px;
}

em {
    font-weight: bold;
}
