/* $Id$ */

@import url(/css/tabs.css);

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 90%;
}

table.head,
table.middle,
table.foot {
    width: 100%;
    border: 0px;
}

td.content {
    width: 100%;
    vertical-align: top;
    padding: 0em 0.5em;
}


/* === Header === */

td.head-logo {
    background-color: #339900;
    width: 120px;
    text-align: left;
}

td.head-menu {
    background-color: #339900;
    height: 1px;
    padding-right: 0.5em;
    padding-bottom: 0.1em;
    text-align: right;
    vertical-align: bottom;
}

td.head-search {
    color: #FFFFFF;
    background-color: #006600;
    border-top: 1px solid #003300;
    border-bottom: 1px solid #003300;
    padding-right: 0.5em;
    text-align: right;
    vertical-align: middle;
}

p.head-search {
    font-size: 80%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

td.head-menu {
    color: #000000;
    font-weight: bold;
    font-size: 75%;
}

.menuWhite {
    color: #FFFFFF;
    font-weight: normal;
}

a:link.menuWhite,
a:hover.menuWhite,
a:visited.menuWhite {
    text-decoration: none;
    color: #FFFFFF;
}

a:link.menuBlack,
a:hover.menuBlack,
a:visited.menuBlack {
    text-decoration: none;
    color: #000000;
}


/* === Sidebars === */

td.sidebar_left {
    width: 149px;
    background-color: #F0F0F0;
    vertical-align: top;
    font-size: 90%;
    border-right: 1px dashed #ccc;
    padding: 1em 0.3em 0.3em 0.3em;
}

td.sidebar_right {
    width: 149px;
    background-color: #F0F0F0;
    vertical-align: top;
    font-size: 90%;
    border-left: 1px dashed #ccc;
    padding: 0.1em 0.3em 0.3em 0.3em;
}

ul.side_pages {
    margin-top: 0.1em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    padding-left: 1em;
    list-style: url(/gifs/box-0.gif) square;
}

li.side_page {
    text-indent: -0.4em;
    white-space: nowrap;
}


/* === Footer === */

td.foot-bar {
    color: #000000;
    background-color: #339900;
    border-top: 1px solid #003300;
    border-bottom: 1px solid #003300;
    text-align: right;
    vertical-align: bottom;
    padding-right: 0.3em;
    font-weight: bold;
    font-size: 75%;
}

td.foot-copy {
    background-color: #CCCCCC;
    vertical-align: top;
    padding: 0.3em;
}

td.foot-source {
    background-color: #CCCCCC;
    vertical-align: top;
    text-align: right;
    padding: 0.3em;
}


/* === Other === */

a:link {
    color: #006600;
}

a:visited {
    color: #030;
}

a:hover {
    color: #003300;
}

th.headrow {
    text-align: left;
    border-bottom: 1px solid #000;
    white-space: nowrap;
}

th.others {
    color: #006600;
    text-align: left;
}

em {
    font-weight: bold;
    font-style: italic;
}

hr {
    border: 0px;
    height: 1px;
    background-color: #ccc;
}

submit {
    border: 0px;
}

.newsDate {
    font-size: 85%;
    font-style: italic;
    color: #66cc66;
}

.compact {
}

code, pre, tt {
    font-family: "andale mono", "monotype.com", "courier new", courier, monospace;
    font-size: 90%;
}

pre.php {
    border-color:       black;
    border-style:       dashed;
    border-width:       1px;
    background-color:   #eeeeee;
    padding:            5px;
}

h1 {
    font-size: 140%;
    font-weight: bold;
    color: #006600;
}

h2 {
    font-size: 125%;
    font-weight: bold;
    color: #006600;
}

h3 {
    font-size: 110%;
    font-weight: bold;
    color: #006600;
}

small {
    font-size: 85%;
}

a.small {
    font-size: 75%;
    text-decoration: none;
}

.tableTitle {
    font-weight: bold;
}

.tableExtras {
    font-size: 85%;
    color: #FFFFFF;
}

input {
    font-family: verdana,arial,helvetica,sans-serif;
}

textarea {
    font-family: "andale mono", "monotype.com", "courier new", monospace;
}

input.small, select.small {
    font-size: 75%;
}

textarea.small {
    font-size: 75%;
}

form {
    margin-bottom: 0;
}

.error {
    font-weight: bold;
    color: #900;
}

.tip {
    border: 1px solid #00c;
    color: #006;
    background: #eef;
    padding: 8px;
}

.listing li {
    line-height: 200%;
}

.indent {
    margin-left: 20px;
}

hr.greyline {
    border-top: thin solid #CCCCCC;
    margin-top: 0px;
    margin-bottom: 0px;
}

.underline {
    text-decoration: underline;
}
