<script src="/javascript/jquery.js"></script>
<script language="JavaScript" type="text/javascript">
<!--
    function toggleMoreInfo(packageName, packageID)
    {
        if (!document.getElementById) {
            location.href = '/package/' + packageName;
            return;
        }
        $('#moreInfo_' + packageID).toggle();
    }
//-->
</script>

<div style="text-align: center; margin-bottom: 6px;">
    Filter by
    <?php
        $php = isset($_GET['php']) ? $_GET['php'] : 'all';

        $sel = $php == '4' ? 'style="font-weight: bold;" ' : '';
        echo ' <a ' . $sel . 'href="?php=4">PHP 4</a> |';
        $sel = $php == '5' ? 'style="font-weight: bold;" ' : '';
        echo ' <a ' . $sel . 'href="?php=5">PHP 5+</a> |';
        $sel = $php == 'all' ? 'style="font-weight: bold;" ' : '';
        echo ' <a ' . $sel . 'href="?php=all">All PHP versions</a>';
    ?>
</div>

<table style="width:100%; margin-bottom: 10px;">
 <tr>
  <th valign="top" align="left">
   Contents of :: <?php html_category_urhere($catpid, false, $php)?>
<?php
    if ($currentPage) {
        echo '   (Page ' . $currentPage . ' of ' . $numPages . ')';
    }
?>
  </th>
  <td valign="top" align="right">
   <?php echo $showempty_link; ?>
  </td>
 </tr>
</table>

<?php if ($nrow):?>
    <?php echo $table->toHtml()?>
<?php endif?>

<?php if ($catpid and $packages):?>

    <br />

    <?php if (isset($subCategories)):?>
        Sub-categories: <?php echo $subCategories; ?><br /><br />
    <?php endif?>

    <a href="#" title="Hide all more info" onclick="$('.moreInfoTR').hide();">
     <img src="gifs/moreinfo-no.gif" width="17" height="17" border="0" vspace="3" alt="Hide all more info" />
    </a>
    <a href="#" title="Show all more info" onclick="$('.moreInfoTR').show();">
     <img src="gifs/moreinfo-yes.gif" width="17" height="17" border="0" vspace="3" alt="Show all more info" />
    </a>

    <table style="border: solid 1px black; width: 100%" cellspacing="0" cellpadding="0">
     <tr>
      <td>
       <table width="100%" cellspacing="0">
        <tr>
         <td class="tableHeader" colspan="3">&nbsp;<?php echo $pager_links; ?></td>
        </tr>
       </table>
      </td>
     </tr>
     <tr>
      <td>
       <table id="packageList">
        <tr>
         <th>#</th>
         <th><nobr>Package name</nobr></th>
         <th>Description</th>
          <th>&nbsp;</th>
        </tr>
        <?php $nr = $first; foreach($packages as $p):?>
        <tr>
         <td valign="top" style="text-align: center;"><?php echo $nr++; ?></td>
         <td valign="top"><a href="/package/<?php echo $p['name']; ?>"><strong><?php echo $p['name']; ?></strong></a></td>
         <td valign="top"><?php echo htmlspecialchars($p['summary']); ?></td>
          <td valign="top">
            <a href="#" onclick="toggleMoreInfo(<?php echo "'".$p['name']."'"; ?>,<?php echo $p['id']; ?>); return false" title="View more info about <?php echo $p['name']; ?>">
                <img src="gifs/moreinfo.gif" alt="More Info" title="More Info" border="0" />
            </a>
          </td>
        </tr>
        <tr style="display: none;" id="moreInfo_<?php echo $p['id']; ?>" class="moreInfoTR">
         <td>&nbsp;</td>
         <td colspan="3" class="moreInfo">
          <table border="0" class="moreInfoHeader" width="100%" cellspacing="0" cellpadding="0">
           <tr>
            <td><span class="moreInfoText">More information</span></td>
            <td align="right">
              <a href="javascript: toggleMoreInfo(<?php echo "'".$p['name']."'"; ?>,<?php echo $p['id']; ?>)"><img class="closeButton" src="gifs/close.gif" border="0" alt="" /></a>
            </td>
           </tr>
          </table>
          <table border="0">
           <tr>
            <td class="eInfo_label"><strong>Number of releases:</strong></td>
            <td><?php echo $p['numreleases']; ?></td>
            <td class="eInfo_label"><strong>License type:</strong></td>
            <td><?php echo $p['license']; ?></td>
           </tr>
           <tr>
            <td class="eInfo_label"><strong>Status:</strong></td>
            <td><?php echo $p['eInfo']['status']; ?></td>
            <td class="eInfo_label"><strong>Maintained:</strong></td>
            <td><?php echo $p['eInfo']['maintained']; ?></td>
           </tr>
           <?php if (isset($p['eInfo']['deprecated'])): ?>
           <tr>
            <td colspan="5"><?php echo $p['eInfo']['deprecated']; ?></td>
           </tr>
           <?php endif ?>
          </table>
         </td>
        </tr>
            <?php endforeach?>
       </table>
      </td>
     </tr>
     <tr>
      <td>
       <table width="100%" cellspacing="0">
        <tr>
         <td class="tableFooter" colspan="3"><?php echo $pager_links; ?></td>
        </tr>
       </table>
      </td>
     </tr>
    </table>

<?php elseif($catpid):?>
 <p align="center">
  No packages found in this category
 </p>
<?php endif?>

<br />

<p align="center">
    <?php if(!$catpid):?>
        Total number of packages: <?php echo $totalpackages; ?><br />
        <?php make_link('/package-stats.php', 'View package statistics'); ?>
    <?php else:?>
        <a href="/package-stats.php?cid=<?php echo $catpid; ?>">Statistics for category "<?php echo htmlspecialchars($catname); ?>"</a>
    <?php endif?>
</p>

<p class="tip">
 <b>Note:</b> A number of other PHP projects do provide packages of
 their software, which are installable via the PEAR infrastructure.
 A list of them can be found in the <a href="/channels/">channels
 section</a>.
</p>
<?php
response_footer();