<script language="JavaScript" type="text/javascript">
<!--
    function toggleMoreInfo(packageName, packageID)
    {
        if (!document.getElementById) {
            location.href = '/package/' + packageName;
            return;
        }

        var rowLayer = document.getElementById('moreInfo_' + packageID);
        var rowSpacerLayer = document.getElementById('moreInfo_' + packageID + '_spacer');

        newDisplay = rowLayer.style.display == 'none' ? 'inline' : 'none';
        rowLayer.style.display       = newDisplay;
        rowSpacerLayer.style.display = newDisplay;
    }
//-->
</script>

<table border="0" width="100%">
    <tr>
        <th valign="top" align="left">
            Contents of :: <?php html_category_urhere($catpid, false)?>
            <?php
            if ($currentPage) {
                echo '(Page ' . $currentPage . ' of ' . $numPages . ')';
            }
            ?>
        </th>
        <td valign="top" align="right">
            <?php echo $showempty_link; ?>
        </td>
    </tr>
</table>

<?php if($nrow):?>
    <?php echo $table->toHtml()?>
<?php endif?>

<?php if($catpid and $packages):?>

    <br />

    <?php if($subCategories):?>
        Sub-categories: <?php echo $subCategories; ?><br /><br />
    <?php endif?>

    <style type="text/css">
    <!--
    .eInfo_label {
        font-weight: bold;
        font-size: 80%;
    }

    table#packageList {
        width: 100%;
        padding: 4px;
        padding-top: 0px;
    }

    th.pkgListHeader {
        background-color: #cccccc;
    }

    td.tableHeader {
        background-color: #cccccc;
        border-bottom: 1px solid black;
        font-weight: bold;
    }

    td.tableFooter {
        background-color: #cccccc;
        border-top: 1px solid black;
        font-weight: bold;
    }

    td.moreInfo {
        background-color: #f0f0f0;
        border: 1px dashed #c0c0c0;
        position: relative;
    }

    .closeButton {
        border: 2px white outset;
        background-color: #c0c0c0;
    }

    .moreInfoHeader {
        background-color: #dddddd;
        border-bottom: 1px dashed #c0c0c0;
    }

    .moreInfoText {
        font-size: 80%;
        font-weight: bold;
        font-family: Verdana;
        padding-left: 5px;
    }

    .nextArrow, .nextArrow a, .nextArrow a:hover {
        text-align: right;
        font-size: 85%;
        width: 70px;
        text-decoration: none;
    }

    .prevArrow, .prevArrow a, .prevArrow a:hover {
        text-align: left;
        font-size: 85%;
        width: 70px;
        text-decoration: none;
    }
    // -->
    </style>


    <a href="<?php echo $hideMoreInfoLink; ?>" title="Hide all more info">
     <img src="gifs/moreinfo-no.gif" width="17" height="17" border="0" vspace="3" alt="Hide all more info" />
    </a>
    <a href="<?php echo $showMoreInfoLink; ?>" title="Show all more info">
     <img src="gifs/moreinfo-yes.gif" width="17" height="17" border="0" vspace="3" alt="Show all more info" />
    </a>

    <table style="border: solid 1px black; width: 100%" cellspacing="0" cellpadding="0">
     <tr>
      <td>
       <table border="0" width="100%" cellspacing="0">
        <tr>
         <td class="tableHeader prevArrow">&nbsp;<?php echo $prev; ?></td>
         <td class="tableHeader" align="center">Packages (<?php echo $first; ?> - <?php echo $last; ?> of <?php echo $total; ?>)</td>
         <td class="tableHeader nextArrow"><?php echo $next; ?>&nbsp;</td>
        </tr>
       </table>
      </td>
     </tr>
     <tr>
      <td>
       <table border="0" id="packageList">
        <tr>
         <th class="pkgListHeader">#</th>
         <th class="pkgListHeader"><nobr>Package name</nobr></th>
         <th class="pkgListHeader">Description</th>
         <?php if($_browser->is_ie5up):?>
          <th class="pkgListHeader">&nbsp;</th>
         <?php endif?>
        </tr>
        <?php $nr = $first; foreach($packages as $p):?>
        <tr>
         <td valign="top" style="text-align: center;"><?php echo $nr++; ?></td>
         <td valign="top"><a href="/package/<?php echo $p['name']; ?>"><strong><?php echo $p['name']; ?></strong></a></td>
         <td valign="top"><?php echo htmlspecialchars($p['summary']); ?></td>
         <?php if($_browser->is_ie5up):?>
          <td valign="top">
            <a href="#" onclick="toggleMoreInfo(<?php echo "'".$p['name']."'"; ?>,<?php echo $p['id']; ?>); return false" onmouseover="window.status = 'View more info about <?php echo $p['name']; ?>'; return true" onmouseout="window.status = ''" title="View more info about <?php echo $p['name']; ?>">
                <img src="gifs/moreinfo.gif" alt="More Info" title="More Info" border="0" />
            </a>
          </td>
         <?php endif?>
        </tr>
        <tr <?php if($_browser->is_ie5up || $defaultMoreInfoVis == 'none'):?> style="display: <?php echo $defaultMoreInfoVis; ?>" <?php endif?> id="moreInfo_<?php echo $p['id']; ?>">
         <td>&nbsp;</td>
         <td colspan="3" class="moreInfo">
          <table border="0" class="moreInfoHeader" width="100%" cellspacing="0" cellpadding="0">
           <tr>
            <td><span class="moreInfoText">More information</span></td>
            <td align="right">
             <?php if($_browser->is_ie5up):?>
              <a href="javascript: toggleMoreInfo(<?php echo "'".$p['name']."'"; ?>,<?php echo $p['id']; ?>)"><img class="closeButton" src="gifs/close.gif" border="0" alt="" /></a>
             <?php endif?>
            </td>
           </tr>
          </table>
          <table border="0">
           <tr>
            <td class="eInfo_label"><strong>Number of releases:</strong></td>
            <td><?php echo $p['eInfo']['numReleases']; ?></td>
            <td class="eInfo_label"><strong>License type:</strong></td>
            <td><?php echo $p['eInfo']['license']; ?></td>
           </tr>
           <tr>
            <td class="eInfo_label"><strong>Status:</strong></td>
            <td><?php echo $p['eInfo']['status']; ?></td>
           </tr>
          </table>
         </td>
        </tr>
        <tr <?php if($_browser->is_ie5up || $defaultMoreInfoVis == 'none'):?> style="display: <?php echo $defaultMoreInfoVis; ?>" <?php endif?> id="moreInfo_<?php echo $p['id']; ?>_spacer">
         <td colspan="5">&nbsp;</td>
        </tr>
            <?php endforeach?>
       </table>
      </td>
     </tr>
     <tr>
      <td>
       <table border="0" width="100%" cellspacing="0">
        <tr>
         <td class="tableFooter prevArrow">&nbsp;<?php echo $prev; ?></td>
         <td class="tableFooter" align="center">Packages (<?php echo $first; ?> - <?php echo $last; ?> of <?php echo $total; ?>)</td>
         <td class="tableFooter nextArrow"><?php echo $next; ?>&nbsp;</td>
        </tr>
       </table>
      </td>
     </tr>
    </table>

<?php elseif($catpid):?>
    <p align="center">
        No packages found in this category
    </p>
<?php endif?>

<br />

<p align="center">
    <?php if(!$catpid):?>
        Total number of packages: <?php echo $totalpackages; ?><br />
        <?php make_link('/package-stats.php', 'View package statistics'); ?>
    <?php else:?>
        <a href="/package-stats.php?cid=<?php echo $catpid; ?>">Statistics for category "<?php echo htmlspecialchars($catname); ?>"</a>
    <?php endif?>
</p>

<p class="tip">
<b>Note:</b> A number of other PHP projects do provide packages of
their software, which are installable via the PEAR infrastructure, or
they are planning to do so.<br />
Currently we know of <a href="http://www.horde.org/">Horde</a>, Seagull,
and Solar, who have set up an overview about their PEAR-compatible
packages at
<a href="http://pear.horde.org/">pear.horde.org</a> resp.
<a href="http://seagull.phpkitchen.com/docs/wakka.php?wakka=UsingThePearPackageManager">seagull.phpkitchen.com</a>,
and <a href="http://solarphp.com/home/index.php?area=Main&page=DownloadInstall#toc2">solarphp.com</a>.<br /><br />
Please inform
<?php echo make_mailto_link(PEAR_WEBMASTER_EMAIL, 'the webmasters'); ?>
 if your project is providing PEAR packages as well.
</p>
<?php response_footer(); ?>
